<body>

<ol type="1">

    <li>&#160;&#160;1.&#160;&#160;&#160; By accepting the terms and conditions the customer accepts
        that <a href="http://www.shohoz.com">Shohoz.com</a> may send the alerts to the mobile phone
        number provided by the customer
        while registering for the service or to any such number replaced and informed by the
        customer. The customer acknowledges that the alerts will be received only if the mobile
        phone is in ‘On’ mode to receive the SMS. If the mobile phone is in ‘Off’’ mode then the
        customer may not get / get after delay any alerts sent during such period.
    <br/><br/></li>

    <li>&#160;&#160;2.&#160;&#160;&#160; <a href="http://www.shohoz.com">Shohoz.com</a> will make
        best efforts to provide the service
        and
        it shall be deemed that the customer shall have received the information sent from
        <a href="http://www.shohoz.com">Shohoz.com</a> as an alert on the mobile phone number
        provided during the course of ticket
        booking and <a href="http://www.shohoz.com">Shohoz.com</a> shall not be under any obligation
        to confirm the authenticity of the
        person(s) receiving the alert. The customer cannot hold <a href="http://www.shohoz.com">Shohoz.com</a>
        liable for
        non-availability of the service in any manner whatsoever.
    <br/><br/></li>

    <li>&#160;&#160;3.&#160;&#160;&#160; The customer acknowledges that the SMS service provided by
        <a href="http://www.shohoz.com">Shohoz.com</a> is an additional facility provided for the
        customer’s convenience and that it may
        be susceptible to error, omission and/ or inaccuracy. In the event the customer observes any
        error in the information provided in the alert, <a
                href="http://www.shohoz.com">Shohoz.com</a> shall be immediately informed
        about the same by the customer and <a href="http://www.shohoz.com">Shohoz.com</a> will make
        best possible efforts to rectify the
        error as early as possible. The customer shall not hold <a href="http://www.shohoz.com">Shohoz.com</a>
        liable for any loss,
        damages, claim, expense including legal cost that may be incurred/ suffered by the customer
        on account of the SMS facility.
    <br/><br/></li>

    <li>&#160;&#160;4.&#160;&#160;&#160; The customer acknowledges that the clarity, readability,
        accuracy, and promptness of providing the service depend on many factors including the
        infrastructure, connectivity of the service provider. <a href="http://www.shohoz.com">Shohoz.com</a>
        shall not be responsible
        for any non-delivery, delayed delivery or distortion of the alert in any way whatsoever.
    <br/><br/></li>

    <li>&#160;&#160;5.&#160;&#160;&#160; The customer agrees to indemnify and hold harmless
        <a href="http://www.shohoz.com">Shohoz.com</a> and the SMS service provider
        including its officials from any damages, claims, demands, proceedings, loss, cost, charges
        and expenses whatsoever including legal charges and attorney fees which <a
                href="http://www.shohoz.com">Shohoz.com</a> and the
        SMS service provider may at any time incur, sustain, suffer or be put to as a consequence of
        or arising out of <b>(i)</b> misuse, improper or fraudulent information provided by the
        customer,
        <b>(ii)</b> the customer providing incorrect number or providing a number that belongs to
        that of
        an unrelated third party, and/or <b>(iii)</b> the customer receiving any message relating to
        the
        reservation number, travel itinerary information, booking confirmation, modification to a
        ticket, cancellation of ticket, change in bus schedule, delay, and/or rescheduling from
        <a href="http://www.shohoz.com">Shohoz.com</a> and/or the SMS service provider.
    <br/><br/></li>

    <li>&#160;&#160;6.&#160;&#160;&#160; By accepting the terms and conditions the customer
        acknowledges and agrees that <a href="http://www.shohoz.com">Shohoz.com</a> may call the
        mobile phone number provided by the
        customer while registering for the service or to any such number replaced and informed by
        the customer, for the purpose of collecting feedback from the customer regarding their
        travel, the bus facilities and/or services of the bus operator.
    <br/><br/></li>

    <!--<li>&#160;&#160;7.&#160;&#160;&#160; Grievances and claims related to the bus journey should be-->
        <!--reported to <a href="http://www.shohoz.com">Shohoz.com</a> support-->
        <!--team within 10 days of your travel date.-->
    <!--<br/><br/></li>-->
</ol>

</body>