<body>
<a href="http://www.shohoz.com">Shohoz.com</a> is an online ticketing service. We do not operate any
buslines of our own.
<br/><br/>

1. <a href="http://www.shohoz.com">Shohoz.com</a>'s liabilities are limited to:
<br/><br/>

<ul>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;Issuing a valid ticket for its network of bus
        operators.<br/></li>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;Providing refund and support in the event of
        cancellation.<br/></li>
</ul>
<br/><br/>

Our liability does not include the following:
<br/><br/>

<ul>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;The bus operator's bus not departing / reaching on
        time.<br/></li>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160; The bus operator's employees being rude.<br/></li>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;The bus operator's bus seats etc. not being up to the
        customer's
        expectation.<br/></li>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;The bus operator cancelling the trip, changing the type
        of bus or
        changing the seat.<br/></li>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;The baggage of the customer getting lost / stolen
        /damaged.<br/>
    </li>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;The customer waiting at the wrong boarding point.<br/>
    </li>
    <li>&#160;&#160;&#8226;&#160;&#160;&#160;The bus operator changing the boarding point and/or
        using a pick-up
        vehicle at the boarding
        point to take customers to the bus departure point.
        <br/></li>
</ul>

<br/><br/>
2. Passengers are requested to arrive at the boarding point 20 minutes prior to bus departure. If not,
the ticket is deemed cancelled.

<br/><br/>
3. Passengers need to furnish a copy of the ticket at boarding or they may not be allowed to board the
bus.

<br/><br/>
4. The bus operator reserves the right to cancel/delay trips, change buses and change seats due to
unavoidable reasons.

<br/><br/>
5. Luggage policy is as per operator’s policies. The operator or Shohoz does not bear any consequences
for the passenger carrying illegal goods.
<br/><br/>

6. <b>For ticket cancellation, passenger must call or visit Shohoz.com at least 12 hours (excluding 11 PM to 6 AM) before trip departure time</b>. Tickets will not be refunded after the trip has
departed.
Refunds will be given only through bKash or bank transfer. For refund, the passenger must call
Shohoz call center or email <a href="mailto:refunds@shohoz.com">refunds@shohoz.com</a> , with his
mobile #, bank account or bKash account
details and ticket details (operator, PNR, coach #, trip date and time). This must be done within 24
hours of trip departure time, after which, no refunds will be given. The Shohoz convenience fees,
Processing fees and home delivery charges (if any), will not be refunded. For refunds through bKash,
processing fee will be charged to the passenger.

</body>